button, .button {
  background-color: #009ee0; }

.hidden {
  display: none; }

.background-gray-9 {
  background-color: #333333; }

#naturalis-header {
  overflow: hidden; }
  #naturalis-header #title-and-slogan {
    position: relative;
    top: 0px;
    transition: top 300ms;
    overflow: visible; }
    #naturalis-header #title-and-slogan.off-canvas {
      top: -100%; }
    #naturalis-header #title-and-slogan #intro {
      position: absolute;
      top: 160px;
      color: white; }
    #naturalis-header #title-and-slogan .intro-more, #naturalis-header #title-and-slogan .intro-less {
      color: white;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1em;
      height: 3em;
      width: 100%;
      text-align: right;
      font-weight: bolder; }
      #naturalis-header #title-and-slogan .intro-more:hover, #naturalis-header #title-and-slogan .intro-less:hover {
        color: #cccccc; }

#banner-geographical-search {
  background-color: #f2f2f2;
  text-align: center;
  position: relative;
  width: 100%;
  left: -1em;
  padding: 1em 1em 0 1em;
  box-sizing: content-box;
  margin: 40px 0; }
  #banner-geographical-search a {
    display: block; }
  #banner-geographical-search h3 {
    color: #666666;
    font-size: 24px;
    font-weight: 300; }
  #banner-geographical-search img {
    width: 250px; }

.fieldset-omnisearch {
  border: 0px solid white;
  padding: 1rem 0 0 0;
  margin-bottom: 0;
  background-color: white;
  transition: background-color; }
  .fieldset-omnisearch.disabled {
    background-color: #4d4d4d;
    transition: background-color;
    border-bottom: 1px solid #999999; }
  .fieldset-omnisearch button {
    border: none;
    border-radius: 0 3px 3px 0;
    text-transform: lowercase;
    font-weight: bolder;
    letter-spacing: 0.05em; }
    .fieldset-omnisearch button[disabled] {
      background-color: #999999;
      color: #cccccc; }
  .fieldset-omnisearch button, .fieldset-omnisearch input {
    height: 50px;
    font-size: 1.25rem; }
  .fieldset-omnisearch input {
    padding-right: 60px; }
  .fieldset-omnisearch .ndabio-omnibox-wrapper {
    position: relative; }

.ndabio-toggle-advanced {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
  color: #b2b1a8;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  cursor: pointer; }
  .ndabio-toggle-advanced:hover {
    color: #009ee0; }

.ndabio-clear-textfield {
  position: absolute;
  top: 0px;
  right: 15px;
  width: 27px;
  height: 27px;
  color: #009ee0;
  font-size: 24px;
  line-height: 27px;
  text-align: center;
  cursor: pointer; }
  .ndabio-clear-textfield:hover {
    color: #ef6d14; }

#ndabio-advanced-taxonomysearch {
  left: 0;
  width: 100%;
  z-index: 400;
  position: relative; }

#edit-extended {
  background-color: #4d4d4d;
  color: white;
  padding: 0.9375rem;
  padding-top: 1px;
  margin: 0;
  border-width: 0;
  margin-bottom: 30px; }
  @media (min-width: 1000px) {
    #edit-extended {
      padding: 0.9375rem 16.66667% 80px; } }
  #edit-extended fieldset {
    font-size: 1.125rem;
    padding: 0 0 30px 0;
    border: none;
    border-bottom: 1px solid #999999; }
    #edit-extended fieldset fieldset {
      border: none;
      padding: 0; }
  #edit-extended legend {
    background: none;
    margin: 0; }
  #edit-extended label {
    font-size: 1.125rem;
    color: white;
    font-weight: 300;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 0; }
  #edit-extended .form-item {
    margin-bottom: 0;
    margin-top: 0.5rem; }
  #edit-extended input[type='text'],
  #edit-extended input[type='radio'] {
    margin: 0;
    padding: 3px;
    height: 26px; }
  #edit-extended #edit-submit--2 {
    position: absolute;
    right: 3rem;
    background-color: #ef6d14;
    border-radius: 2px;
    text-transform: lowercase;
    font-weight: bolder;
    letter-spacing: 0.05em; }
  #edit-extended .form-type-radio {
    float: left;
    width: 50%;
    margin-top: 0; }

html.js fieldset.collapsed .fieldset-legend {
  background-image: url("../../misc/menu-collapsed.png");
  background-position: 5px 50%; }
html.js fieldset.collapsible .fieldset-legend {
  background: url("../../misc/menu-expanded.png") no-repeat scroll 5px 65% rgba(0, 0, 0, 0);
  padding-left: 15px; }

#edit-extended fieldset fieldset.collapsible legend {
  margin-left: 8.33333%; }
#edit-extended fieldset fieldset.collapsible .fieldset-legend {
  margin: 0;
  padding: 0; }
#edit-extended fieldset fieldset.collapsible a {
  color: #ef6d14;
  text-transform: lowercase;
  font-weight: 400; }
  #edit-extended fieldset fieldset.collapsible a:after {
    font-family: 'App2';
    position: relative;
    top: 3px;
    content: "\e613"; }
#edit-extended fieldset fieldset.collapsible.collapsed a:after {
  content: "\e610"; }
