button, .button {
  background-color: #009ee0; }

.hidden {
  display: none; }

.background-gray-9 {
  background-color: #333333; }

#naturalis-header {
  overflow: hidden; }
  #naturalis-header #title-and-slogan {
    position: relative;
    top: 0px;
    transition: top 300ms;
    overflow: visible; }
    #naturalis-header #title-and-slogan.off-canvas {
      top: -100%; }
    #naturalis-header #title-and-slogan #intro {
      position: absolute;
      top: 160px;
      color: white; }
    #naturalis-header #title-and-slogan .intro-more, #naturalis-header #title-and-slogan .intro-less {
      color: white;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1em;
      height: 3em;
      width: 100%;
      text-align: right;
      font-weight: bolder; }
      #naturalis-header #title-and-slogan .intro-more:hover, #naturalis-header #title-and-slogan .intro-less:hover {
        color: #cccccc; }

#edit-omnisearch {
  border: 0px solid white;
  padding: 1rem 0 0 0;
  margin-bottom: 0;
  background-color: white;
  transition: background-color; }
  #edit-omnisearch.disabled {
    background-color: #4d4d4d;
    transition: background-color;
    border-bottom: 1px solid #999999; }
  #edit-omnisearch button {
    border: none;
    border-radius: 0 3px 3px 0;
    text-transform: lowercase; }
    #edit-omnisearch button[disabled] {
      background-color: #999999;
      color: #cccccc; }
  #edit-omnisearch button, #edit-omnisearch input {
    height: 50px;
    font-size: 1.25rem; }
  #edit-omnisearch input {
    padding-right: 60px; }
  #edit-omnisearch .ndabio-omnibox-wrapper {
    position: relative; }
  #edit-omnisearch .ndabio-toggle-advanced {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    color: #b2b1a8;
    font-size: 24px;
    line-height: 50px;
    text-aling: center; }

#ndabio-ndasearchform-callback {
  position: absolute;
  left: 0;
  width: 100%; }

#ndabio-advanced-search {
  background-color: #4d4d4d;
  color: white;
  padding: 0.9375rem;
  padding-top: 1px; }
  @media (min-width: 1000px) {
    #ndabio-advanced-search {
      padding: 0.9375rem 16.66667%; } }
  #ndabio-advanced-search fieldset {
    font-size: 1.125rem;
    padding: 0 0 30px 0;
    border: none;
    border-bottom: 1px solid #999999; }
  #ndabio-advanced-search legend {
    background: none;
    margin: 0; }
  #ndabio-advanced-search label {
    font-size: 1.125rem;
    color: white;
    font-weight: 300;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 0; }
  #ndabio-advanced-search .form-item {
    margin-bottom: 0;
    margin-top: 0.5rem; }
  #ndabio-advanced-search input[type='text'],
  #ndabio-advanced-search input[type='radio'] {
    margin: 0;
    padding: 3px;
    height: 26px; }
  #ndabio-advanced-search #edit-submit--2 {
    background-color: #ef6d14;
    border-radius: 2px; }
  #ndabio-advanced-search .form-type-radio {
    float: left;
    width: 50%;
    margin-top: 0; }
