/**
 * Custom styles related to the Naturalis module
 */
 
#map-canvas { width: 800px; height: 600px; float: left; }
#areas { left: 75%; width: 24.5%; height: 100%; overflow: scroll; float: right; }
#controls { position: absolute; bottom: 50px; left: 25px; float: left;}
