// COLOURS

$yellow : #ffed00;
$orange : #ef6d14;
$orange-2:#f29400;
$red    : #e3004a;
$blue   : #009ee0;
$green  : #009932;
$purple : #3e2782;
$brown  : #542e08;
$gray   : #b2b1a8;
$black  : #000000;
$white  : #ffffff;
$ghost  : #EEEDE9;
$smoke  : #F6F6F4;

$gray-1  : #f2f2f2;
$gray-2  : #e6e6e6;
$gray-3  : #cccccc;
$gray-4  : #b3b3b3;
$gray-5  : #999999;
$gray-6  : #808080;
$gray-7  : #666666;
$gray-8  : #4d4d4d;
$gray-9  : #333333;
$gray-10 : #1a1a1a;

/* gray-10 : #1a1a1a; */
/* gray-9  : #333333; */
/* gray-8  : #4d4d4d; */
/* gray-7  : #666666; */
/* gray-6  : #808080; */
/* gray-5  : #999999; */
/* gray-4  : #b3b3b3; */
/* gray-3  : #cccccc; */
/* gray-2  : #e6e6e6; */
/* gray-1  : #f2f2f2; */
/* smoke  : #F6F6F4;  */
/* ghost  : #EEEDE9;  */
/* white  : #ffffff;  */
/* black  : #000000;  */
/* gray   : #b2b1a8;  */
/* brown  : #542e08;  */
/* purple : #3e2782;  */
/* green  : #009932;  */
/* blue   : #009ee0;  */
/* red    : #e3004a;  */
/* orange-2:#f29400;  */
/* orange : #ef6d14;  */
/* yellow : #ffed00;  */

$icon-double-chevron-down:  "\e610";
$icon-double-chevron-left:  "\e611";
$icon-double-chevron-right:  "\e612";
$icon-double-chevron-up:  "\e613";
$icon-arrow-right:  "\e613";
$icon-chevron-right: "\e60c";

.fading .page{
  transition: opacity 2000ms;
  opacity: 0.5;
}

// HACKS

    ::-webkit-input-placeholder { /* WebKit browsers */
        color:   $gray-3;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color:    $gray-3;
       opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
       color:    $gray-3;
       opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
       color:    $gray-3;
    }

    // hack to work-around firefox not allowing for disabled elements
    // to emit events: make triangle-up bottom REALY BIG
    .ndabio-toggle-advanced.icon-triangle-up{
      width: 100%;
      text-align: right;
      padding-right: 10px;
    }

// GLOBAL SEMANTIC CLASSES
      .scientific-name, .scientific{
        font-style: italic;
      }

      .vernacular-name{
        font-style: normal;
      }

      .result-query{
        font-weight: bolder;
      }

      .explanation{
        color: $gray;
        font-weight: 300;
      }

// GLOBAL OVERRIDES OF PARENT THEMES

  // -- HEADERS

    .not-front{
      h2{
        font-size: 20px;
        font-weight: bolder;
        margin-top: 2em;

        .count{
          font-weight: 400;
        }

      }
    }

  // -- BUTTON

    button, .button {
      background-color   : $blue;
    }

    .hidden{
      display: none;
    }

  // BACKGROUND

    .background-gray-9{
      background-color: $gray-9;
    }

// FRONT PAGE

  // -- front-page : INTRO

    #naturalis-header{
      overflow: hidden;

      #title-and-slogan{
        position: relative;
        top: 0px;
        transition: top 300ms;
        overflow: visible;

        &.off-canvas{
          top: -100%;
        }


        #intro{
          position: absolute;
          top: 160px;
          color: $white;
        }

        .intro-more, .intro-less{
          color: $white;
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 1em;
          height: 3em;
          width: 100%;
          text-align: right;
          font-weight: bolder;
          &:hover{
            color: $gray-3;
          }
        }
      }
    }

  // -- front-page: BANNER GEOGRAPHICAL SEARCH
    #banner-geographical-search{
      transition                : background-color 300ms; 
      background-color          : $gray-1;
      &:hover{ background-color : $gray-2;}
      text-align                : center;
      position                  : relative;
      width                     : 100%;
      left                      : -1em;
      padding                   : 1em 1em 0 1em;
      box-sizing                : content-box;
      margin                    : 40px 0;



      a{
        display        : block;
      }

      h3{
        color          : $gray-7;
        font-size      : 24px;
        font-weight    : 300;
      }

      img{
        width          : 250px;
      }
    }

// SEARCH

  // -- search: FREE TEXT SEARCH, OMNISEARCH

    .fieldset-omnisearch{
      border               : 0px solid white;
      padding              : 1rem 0 0 0;
      margin-bottom        : 0;
      background-color     : $white;
      transition           : background-color;
      &.disabled{
        background-color   : $gray-8;
        transition         : background-color;
        border-bottom    : 1px solid $gray-5;
      }

      button{
        border             : none;
        border-radius      : 0 3px 3px 0;
        text-transform     : lowercase;
        font-weight        : bolder;
        letter-spacing     : 0.05em;
        &[disabled] {
          background-color : $gray-5;
          color            : $gray-3;
        }
      }

      button, input{
        height             : 50px;
        font-size          : 1.25rem;
      }

      input{
        padding-right      : 60px;
      }

      .ndabio-omnibox-wrapper{
        position           : relative;
      }

      input[disabled]{
        color: $gray;
      }

    }

    .ndabio-toggle-advanced{
      position           : absolute;
      top                : 0px;
      right              : 0px;
      width              : 50px;
      height             : 50px;
      color              : $gray;
      font-size          : 24px;
      line-height        : 50px;
      text-align         : center;
      cursor              : pointer;
      &:hover{
        color: $blue;
      }
    }

    .ndabio-clear-textfield{
      position           : absolute;
      top                : 0px;
      right              : 15px;
      width              : 27px;
      height             : 27px;
      color              : $white;
      font-size          : 24px;
      line-height        : 27px;
      text-align         : center;
      cursor             : pointer;
      &:hover{
        color: $black;
      }

    }

  // -- search: ADVANCED SEARCH
    #ndabio-advanced-taxonomysearch{
      left               : 0;
      width              : 100%;
      z-index            : 400;
      position           : relative;
    }

    #edit-extended{
      background-color   : $gray-8;
      color              : $white;
      padding            : 0.9375rem;
      padding-top        : 1px;
      margin             : 0;
      border-width       : 0;
      margin-bottom      : 30px;
      display            : none;

      @media (min-width  : 1000px) {
        padding          : 0.9375rem percentage(2/12) 80px;
      }

      fieldset{
        font-size        : 1.125rem;
        padding          : 0 0 30px 0;
        border           : none;
        border-bottom    : 1px solid $gray-5;

        fieldset{
          border         : none;
          padding        : 0;
        }
      }

      legend{
        background       : none;
        margin           : 0 0 ;
        height           : 26px; 

      }

      label{
        // font-size        : 1.125rem;
        font-size        : 1rem;
        color            : $white;
        line-height      : 0.9em;
        letter-spacing   : 0.05em;
        margin           : 0;
        padding          : 0;
      }

      .form-item{
        margin-bottom    : 0;
        margin-top       : 0.5rem;
      }

      input[type='text'], 
      select {
        transition: background-color 300ms;
        background-color: $white;
      
        &:focus{
          background-color : $orange;
          color            : white;
          font-weight      : bolder;
          box-shadow       : none;
          letter-spacing   : 0.05em;
        }

      }

      select option {
        background: $white;
        color: $gray-9;
      }

      input[type='text'],
      input[type='radio'],
      select {
        margin           : 0;
        padding          : 3px;
        height           : 26px;
      }

      select{
           -webkit-appearance: none;
      }

      button[name='op']{
        position         : absolute;
        right            : 3rem;
        background-color : $orange;
        border-radius    : 2px;
        text-transform     : lowercase;
        font-weight      : bolder;
        letter-spacing   : 0.05em;
      }

      .form-type-radio{
        float            : left;
        width            : 50%;
        margin-top       : 0;
      }
    }

    html.js fieldset{
      &.collapsed .fieldset-legend {
        background-image: url("../../misc/menu-collapsed.png");
        background-position: 5px 50%;
      }

      &.collapsible .fieldset-legend {
        background: url("../../misc/menu-expanded.png") no-repeat scroll 5px 65% rgba(0, 0, 0, 0);
        padding-left: 15px;
      }
    }

    #edit-extended fieldset fieldset.collapsible {
      legend{
        margin-left: percentage(1/12);
      }

      .fieldset-legend{
        margin: 0;
        padding: 0;
      }
      a{
        color: $orange;
        text-transform: lowercase;
        font-weight: 400;
        &:after{
          font-family: 'App2';
          position: relative;
          top: 3px;
          content: $icon-double-chevron-up;
        }

      }

      &.collapsed{
        a:after{
          content: $icon-double-chevron-down;
        }
      }
    }

    #edit-submit-bottom{
      width: 120px;
    }

// GEOSEARCH

  // -- geosearch: EXTRA LABELS AROUND SEARCH-BOX

    .row.collapse .geo-search-label{
      height: 50px;
      line-height: 50px;
      text-align: right;
      color: $gray-8;
      font-size: 1.2em;
      font-weight: 300;
      padding-right: 1em;
    }

    .row.collapse .geo-search-area-name{
      height: 50px;
      line-height: 50px;
      text-align: left;
      color: $gray-5;
      font-size: 1.2em;
      font-weight: 300;
      padding-right: 1em;
    }

  // --geosearch: bug-fix (zurb vs. google maps)

    #map-canvas{
      img{
        max-width: none;
      }
    }

  // -- geosearch: LAYOUT
    #map-canvas {
        width: 640px;
        height: 600px;
      }

  // -- geoserach: CHAINED-SELECT
    .chained-select{
      ul{
        list-style: none inside none;
        margin: 0;
      }
    }

    .chained-select-level-1{
      li{
        border-bottom: 1px solid $gray-2;
        height: 50px;
        line-height: 50px;
        position: relative;
        margin: 0 -0.9rem 0 -1.8rem; // TODO: find proper solution;
        padding: 0 0.937rem; // TODO: find proper solution;

        &.active a{
          color: $blue;
        }

        &.active:after{

          display: block;
          width: 50px;
          height: 50px;
          position: absolute;
          right: -2rem;
          bottom: 0;
          color: $blue;
          content: $icon-chevron-right;
          font-family: App2;
          font-size: 24px;
        }
      }

      a{
        color: $brown;
      }

    }

    #search-areas-filter{
      heigth: 40px;
      margin: 0 0 15px 0;
      width: 100%;
      background-color: #fff;
      border: 1px solid #cccccc;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
      box-sizing: border-box;
      transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s;
      padding: 5px;
    }

    #search-areas-target{
      height: 540px;
      overflow: auto;

      ul{
        list-style: none inside none;
      }

      font-weight: 14px;

      h3{
        color: $gray;
        font-weight: bold;
      }
    }

    .row-area{
      .item-list ul & {
        line-height: 1.1;
        margin-bottom: 10px;
      }

      a{
        color: $brown;

        &.active, &:hover{
          color: $blue;
        }
      }
    }

// RESULTS

  // -- results : LAYOUT

    .page-nba-result{
      main {
        
        padding-bottom: 3rem;

        table{
          margin-left      : percentage(1/12);
          width            : percentage(11/12);
        }

        td, th{
          padding-left     : 0;
        }

        .show-all{
          margin-left      : percentage(1/12);
        }
      }

      .column-first{ width : 30% }
      .column-match{ width : 8% }

      .result-query{
        text-decoration    : underline;
      }

      .score{
        font-size: 1.2em;
        position: relative;
        top: -3px;

      }

      h1{
        font-size: 24px;
      }

      h2{
        font-size: 20px;
        font-weight: bold;

        .scientific-name{
          color: $black;
        }

        .vernacular-name{
          color: $gray;
        }
      }

      h3{
        color: $blue;
        font-size: 24px;
        font-weight: bold;
      }

      h4{
        font-size: 18px;
        font-weight: bold;
      }

      .source{
        font-size: 18px;
        color: $gray-8;
        margin-top: 1em;
        clear: both;
        font-weight: bold;

      }

      .property-list{
        margin-bottom: 3em;
        display: table;
        width: 100%;
      }

      dl{
        clear: both;
        display: table-row;
        transition: background-color 400ms;
        &:hover{
          background-color: $ghost;
        }
      }

      dt{
        width: percentage(3/7);
        font-weight: normal;
        display: table-cell;
        padding-right: 3em;

      }

      dd{
        width: percentage(4/7);
        font-weight: bold;
        display: table-cell;

      }

    }

    .square-empty{
      color: $gray-3;
    }

    .square-filled{
      color: $orange-2;
    }

    .multimedia-wrapper{
      margin-left          : percentage(1/12);
      width                : percentage(11/12);
      overflow             : hidden;
    }

    .polaroid{
      display              : block;
      width                : 19%;
      margin-right         : 1%;
      margin-bottom        : 1rem;
      background-color     : $ghost;
      float                : left;
      
      &:nth-child(5n){
        clear: right;
      }

      &:nth-child(5n-4){
        clear: left;
      }
    }

    .polaroid-image{
      padding              : 80% 0 0 0; //80% determines the aspect ratio
      position             : relative;
      background           :{
        color              : $gray-3;
        position           : center center;
        size               : contain;
        repeat : no-repeat;
      }



    }

    .polaroid-caption{
      min-height           : 60px;
      padding              : 5px;
      font-size            : 12px;
      line-height          : 14px;

      .image-title{
        font-weight: bolder;
      }

    }


  // -- results: NAVIGATION

    #result-nav{
      display: table;
      border-spacing: 3px;
      width: 100%;

      ul{
        display: table-row;
      }
      
      li{
        display: table-cell;
        background-color: $ghost;
        height: 40px;
        line-height: 40px;
        text-align: center;
      }

      a{
        color: $brown;
      }

    }

  // -- results: BACK

    .block-ndabioresults-ndabioresults-back{
      a{
        margin-left: -0.3em;

      }
    }

  // -- results: FILTER
    
    .page-nba-result{
      .sidebar-first{
        margin-top: 8px;

        h2{
          margin-bottom: 0;
          margin-top: 2em;
        }

        a {
          font-size: 14px;
        }

        .block-title{
          font-size: 14px;
          font-weight: 500;
        }
      }

      .sidebar-second{
        margin-top: 8px;
      }

    }

    .no-bullets{
      list-style: none inside none;
      margin-left: 0;

      input[type="checkbox"], input[type="radio"] {
        margin-right: 1em;
        margin-bottom: 0;
      }

    }

    .filter-disabled{
      color: $gray-2;
    }

    .filter-enabled{
      color: $gray-7;
    }

    .filter-selected{
      color: $blue;
    }

  // -- results: SPECIMEN
    tr:hover{
      background-color: $smoke;
    }

    .indent-1{
      td:first-child {
        padding-left: 3em;
      }

    }

    .indent-2{
      td:first-child {
        padding-left: 6em;
      }
    }

    i{
      font-size: 24px;
      position: relative;
      top: 4px;
    }

// DETAIL PAGES
  
  // detail-pages: GENERAL
    .table-property-list{
      display: table;
      width: 100%;
    }

    .nba-result-detail{
      h2{
        margin-top: 8px;
        margin-bottom: 1em;
        font-size: 24px;
      }

      h3 {
        font-size: 24px;
      }

      h4{
        font-size: 16px;
      }
    }

    .category{
      color: $brown;
      font-size: 18px;
      font-weight: 300;
      margin-top: 15px;
    }

    .result-detail-section{
      margin-bottom: 24px;
    }

 // USER MENU PAGES

  // user menu pages: LOGO

    .node-type-naturalis-service-menu-page{
      #large-logo{
        padding: 35px;
      }

      .body{
        p:first-child{
          border-bottom: 1px solid $gray-2;
          color: $blue;
          font-size: 1.66667em;
          font-weight: bold;
          margin-bottom: 25px;
          padding-bottom: 25px;
        }
      }
    }

    .page-node-edit{
      main {
        background-color: #FFFFF8;
      }
    }
